$color-black: #1C1A1A;
$color-gradient: #7C6FCF, #74AEAA, #6FCF97;
$color-font-base: #F2F2F2;
$color-grey: #828282;
$color-grey-dark: #302D2D;
$color-shadow: #A5BFB4;

$width-table: 768px;
$width-mobile: 500px;